# Assignment 2

For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('assets/NISPUF17.csv', index_col=0)

In [2]:
df.head()

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [4]:
df.unstack().unstack()

,1,2,3,4,5,6,7,8,9,10,...,28456,28457,28458,28459,28460,28461,28462,28463,28464,28465
SEQNUMC,128521,10741,220011,86131,227141,207941,221381,182861,161121,143401,...,154501,78891,117081,120601,270341,19141,121401,128831,82921,244621
SEQNUMHH,12852,1074,22001,8613,22714,20794,22138,18286,16112,14340,...,15450,7889,11708,12060,27034,1914,12140,12883,8292,24462
PDAT,2,2,2,1,1,2,1,1,1,2,...,2,2,2,2,2,2,2,2,2,2
PROVWT_D,NaN,NaN,NaN,675.430817,482.617748,NaN,516.427723,313.225832,978.042448,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RDDWT_D,235.916956,957.35384,189.611299,333.447418,278.768063,35.995367,248.916038,163.213401,718.61699,1536.859533,...,56.655283,57.484333,26.50301,288.269672,352.329599,21.188088,26.50301,27.520652,22.390587,27.520652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XVRCTY7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
XVRCTY8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
XVRCTY9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INS_STAT2_I,NaN,NaN,NaN,1.0,2.0,NaN,1.0,3.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INS_BREAK_I,NaN,NaN,NaN,2.0,1.0,NaN,2.0,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def proportion_of_education():
    # your code goes here
    # YOUR CODE HERE
    EDUC1_proportion = df['EDUC1'].value_counts(normalize=True)
    EDUC1_dict = {"less than high school": EDUC1_proportion.iloc[3],
                   "high school": EDUC1_proportion.iloc[2],
                   "more than high school but not college": EDUC1_proportion.iloc[1],
                   "college": EDUC1_proportion.iloc[0]}
    return EDUC1_dict

In [6]:
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [12]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

In [4]:
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [5]:
def average_influenza_doses():
    # YOUR CODE HERE 
    df1 = df[df["CBF_01"] == 1]
    df2 = df[df["CBF_01"] == 2]
    a = df1["P_NUMFLU"].mean()
    b = df2["P_NUMFLU"].mean()
    return (a, b)

In [6]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

In [7]:
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [67]:
import pandas as pd

def chickenpox_by_sex():
    # YOUR CODE HERE
    df = pd.read_csv('assets/NISPUF17.csv', index_col=0)
    df = df[df["P_NUMVRC"] > 0]
    #Have contracted chickenpox and have been vaccinated
    males_chickenpox = df[(df["HAD_CPOX"] == 1) & (df['SEX'] == 1)]
    females_chickenpox = df[(df["HAD_CPOX"] == 1) & (df['SEX'] == 2)]

    #Have not contracted chicken pox and have been vaccinated
    males_no_chickenpox = df[(df["HAD_CPOX"] == 2) & (df['SEX'] == 1)]
    females_no_chickenpox = df[(df["HAD_CPOX"] == 2) & (df['SEX'] == 2)]
    
    male_ratio = len(males_chickenpox) / len(males_no_chickenpox)
    female_ratio = len(females_chickenpox) / len(females_no_chickenpox)
    
    dict = {"male":male_ratio, "female":female_ratio}
    
    return dict

In [68]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

In [69]:
chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more noâ€™s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isnâ€™t really the full picture, since we are not looking at when the dose was given. Itâ€™s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [9]:
def corr_chickenpox():
    import scipy.stats as stats
    df = pd.read_csv('assets/NISPUF17.csv', index_col=0)
 
    # YOUR CODE HERE
    # this is just an example dataframe
    df = df[df["HAD_CPOX"] <= 2]
    df = df[~df["P_NUMVRC"].isna() & ~df["HAD_CPOX"].isna()]

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["HAD_CPOX"],df["P_NUMVRC"])
    
    # just return the correlation
    return corr


    #raise NotImplementedError()

In [10]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."

In [5]:
data = {
  "Mango": [20],
  "Strawberry":[15],
  "Blueberry": [18],
  "Vanilla": [31]
}
data1 = {
  "Strawberry":[20],
  "Vanilla": [30],
  "Banan": [15],
  "Mango": [20],
  "Plain": [18]
}

In [6]:
df = pd.DataFrame(data)
df = data.add()
df

AttributeError: 'dict' object has no attribute 'add'

In [23]:
import pandas as pd

estados = [['item_1','A',10],
           ['item_1','B',20],
           ['item_1','C',],
           ['item_2','A',5]
           ['item_2','B',10]
           ['item_2','C',15]
           
          ]
df = pd.DataFrame(estados, columns=['Item', 'Store', 'Quantity sold'])

print(df)

TypeError: list indices must be integers or slices, not tuple

In [13]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88

In [24]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [29]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

In [26]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int64

In [27]:
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int64

In [28]:
S[1:4]

b    1
c    2
d    3
dtype: int64